.input-node {
  height: 50px;
  width: 200px;
  border-radius: 5px;
  padding: 5px;
  background: var(--node-background-color, #4FADAE);
}

.input-node label {
  display: block;
  color: white;
  font-size: 16px;
}