.end-node {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  background: var(--node-background-color, #D77560);
  color: white;
}

.end-node label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  word-wrap: break-word;
}
