.multiple-answer-node {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 75px;
    width: 200px;
    border-radius: 4px;
    background: var(--node-background-color, #6D9394);
    color: white;
    font-size: 14px;
}

.multiple-answer-node label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
    margin: 8px;
    text-align: center;
}

.multiple-answer-node .handle-label {
    display: none;
    position: absolute;
   
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 15px 50px;
    width: auto;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap; /* Hinzugefügt, um zu verhindern, dass der Text umgebrochen wird */
}

.multiple-answer-node .react-flow__handle:hover .handle-label {
    display: block;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}
