.layout-editor-buttons-container {
    position: relative;
    padding: 0 10px;
    z-index: 1000;
}

.buttons-center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2d2d2e;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    z-index: 1; /* Stacking context */
}

.buttons-left {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.buttons-right {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.buttons-left Button.chakra-button {
    margin: 5px 0 !important;
    width: 130px;
}

.buttons-right Button.chakra-button {
    margin-left: 10px;
}

.buttons-center Button.chakra-button {
    width: 85px;
}

.layout-editor-buttons Button.chakra-button {
    margin: 6px;
}

.logo-button-container {
    width: fit-content;
    padding: 0;
}

.logo-button-container>a>div {
    width: 100px;
    height: auto;
    padding: 5px;
}

.logo-button-container>a>div>img {
    width: 100%;
    height: auto;
}

.deleteButton {
    position: absolute;
    top: 5px;
    left: 27%;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    z-index: 2;
}