.header-container {
    width: 100%;
    background-color: #1A1A1D;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo-button-container {
    margin-right: 10px;
}

.logo-button-container img {
    width: auto;
    height: 40px;
}

.header-content Button {
    border-radius: 0;
    color: #8c8c8c;
}

.header-content Button.active {
    color: white;
}