.bridge-node {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 75px;
    width: 200px;
    border-radius: 4px;
    background: var(--node-background-color, #ADA86F);
    color: white;
}

.bridge-node label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
    margin: 8px;
    text-align: center;
}