.user-projects-wrapper {
    min-height: 75.6%;
    background-color: #f2f2f8;
    position: relative;
}

.user-projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.user-projects-card {
    width: 250px;
    margin-bottom: 20px;
    margin-left: 25px;
    background-color: #e7e7e7 !important;
}

.user-projects-card-image {
    width: 90%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
}

.user-projects-card .chakra-card__body {
    padding: 10px;
}

.user-projects-card .chakra-card__footer {
    padding-bottom: 10px;
    padding-top: 0;
}

.user-projects-card .chakra-card__footer {
    display: block;
}

.chakra-card:first-child {
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #222;
    justify-self: center;
}

.user-projects-create-project {
    margin-top: 110px;
}
