.user-projects {
    display: flex;
    flex-wrap: wrap;
}

.user-projects-card {
    width: 250px;
    margin-right: 20px;
}

.user-projects-card-image {
    width: 90%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
    margin: auto;
}

.user-projects-card .chakra-card__body {
    padding: 10px;
}

.user-projects-card .chakra-card__footer {
    padding-bottom: 10px;
    padding-top: 0;
}

.user-projects-card .chakra-card__footer {
    display: block;
}