.multiple-choice-node {
  height: 75px;
  width: 200px;
  padding: 5px;
  border-radius: 4px;
  background: var(--node-background-color, #C7796B);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.multiple-choice-node label {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  word-wrap: break-word;
  margin: 8px;
  text-align: center;
}

.multiple-choice-node .react-flow__handle {
  border-radius: 5px;
  z-index: 20;
}

.multiple-choice-node .handle-label {
  display: none;
  position: absolute;
  bottom: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 12px;
}

.multiple-choice-node .react-flow__handle:hover .handle-label {
  display: block;
}
