.multiple-choice-node {
  height: 75px;
  width: 175px;
  padding: 5px;
  border-radius: 5px;
  background: var(--node-background-color, #542C4D);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.multiple-choice-node .node-label {
  display: block;
  color: #fff;
  font-size: 14px;
}

.multiple-choice-node .react-flow__handle {
  border-radius: 5px;
  z-index: 20;
}