.reaction-node {
    height: 50px;
    width: 200px;
    border: 1px solid #000;
    border-color: #ffbd03;
    border-radius: 5px;
    padding: 5px;
    background: #81D6BE;
}

.reaction-node {
    display: block;
    color: white;
    font-size: 16px;
}