.reaction-node {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    background: var(--node-background-color, #81D6BE);
}

.reaction-node {
    display: block;
    color: white;
    font-size: 16px;
}