.editor-wrapper {
  min-height: 1200px;
  height: 100%;
}

.react-flow__node {
  background-color: #616153;
  border-radius: 4px;
  cursor: pointer;
}

.react-flow__handle {
  width: 11px;
  height: 11px;
  background-color: #423f40;
}

.react-flow__handle:hover {
  width: 12px;
  height: 12px;
}

.react-flow__node[data-id="1"] .react-flow__handle.target {
  display: none !important;
}

.react-flow__node[data-id="1"] {
  color: white;
}

.react-flow__handle.target {
  margin-left: -1px;
}

.react-flow__handle.source {
  margin-bottom: -2px;
}